<footer>
  <div class="f-info py-3 my-2 ">
    <div class="f-info-socials">
      <i class="fa-brands fa-x-twitter fs-5 px-1"></i>
      <i class="fa-brands fa-facebook fs-5 px-1"></i>
      <i class="fa-brands fa-instagram fs-5 px-1"></i>
      <i class="fa-brands fa-linkedin fs-5 px-1"></i>
    </div>
    <div class="fs-5">&copy;Voyagio Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
