<% layout('/layouts/boilerPLate.ejs') %>
<div class="row ms-3">
  <div class="newpage col-10 col-md-7 col-lg-6 offset-md-3 mt-0 offset-lg-3">
    <div class="d-flex justify-content-between">
      <h2 class="text-danger">Add New Listing</h2>
      <a href="./listings" class="back btn btn-danger align-self-center">
        <i class="fa-solid fa-arrow-left" style="color: #ffffff"> </i>
      </a>
    </div>

    <form
      action="/listings"
      method="post"
      class="fs-5 needs-validation ms-2 mt-3"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-2">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="Title"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Title</div>
      </div>

      <div class="mb-2">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          id="description"
          placeholder="Write your description"
          required
        ></textarea>
        <div class="valid-feedback">Description Looks good!</div>
        <div class="invalid-feedback">Please provide a valid Description.</div>
      </div>

      <div class="mb-2">
        <label class="form-label" for="image">Upload Listing Image</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="listing[image]"
          placeholder="Enter Image URL"
        />
      </div>
      <div class="row">
        <div class="mb-2 col-md-6">
          <label class="form-label" for="price">Price</label>
          <input
            class="form-control"
            type="number"
            name="listing[price]"
            placeholder="Price"
            required
          />
          <div class="valid-feedback">Price Looks good!</div>
          <div class="invalid-feedback">Add a valid Price</div>
        </div>
        <div class="mb-2 col-md-6">
          <label class="form-label" for="country">Country</label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            placeholder="Country"
            required
          />
          <div class="valid-feedback">Country Looks good!</div>
          <div class="invalid-feedback">Add a valid Country</div>
        </div>
      </div>

      <div class="mb-2">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          placeholder="Location"
          required
        />
        <div class="valid-feedback">Location Looks good!</div>
        <div class="invalid-feedback">Add a valid Location.</div>
      </div>

      <div class="mb-2">
        <label class="form-label" for="feature">Exciting Feature</label>

        <select
          class="form-select form-select-lg mb-3 py-1"
          aria-label="Large select example"
          name="listing[feature]"
        >
          <option selected>None</option>
          <option value="Bedrooms"> Bedrooms </option>
          <option value="City">City</option>
          <option value="Swmming">Swimming</option>
          <option value="Beach">Beach</option>
          <option value="Suset">Suset</option>
          <option value="SnowFall">SnowFall</option>
          <option value="Surfing">Surfing</option>
          <option value="Villa">Villa</option>
          <option value="Cottage">Cottage</option>
          <option value="Park">Park</option>
          <option value="Playground">Playground</option>
          <option value="Rowing">Rowing</option>

          <option value="Houseboat">Houseboat</option>
        </select>

        <div class="valid-feedback">Feature Looks good!</div>
        <div class="invalid-feedback">Add a valid feature.</div>
      </div>

      <button class="btn btn-danger my-3">Submit</button>
    </form>
  </div>
</div>
